<section class="hero">
    <div class="container">
        <div class="row">
 
            <div class="col-lg-12 mb-5" *ngFor="let post of user_posts">

                <div class="cardbox shadow-lg bg-white" style="border: solid;"> 

                    <div class="cardbox-heading">
                    </div>
                    <!--/ cardbox-heading -->

                    <div class="cardbox-item" >
                        <p class="text-center my-3 p-3">{{post.text}}</p>
                            <img class="img-fluid" src={{post.filepath}} *ngIf="checkImgExtension(post.filepath)">
                                <video class="container-fluid" width="320" height="240" controls *ngIf="checkFileExtension(post.filepath)"> 
                                    <source src={{post.filepath}} type="video/mp4" >
                                </video>
                    </div>
                    <!--/ cardbox-item -->
                    <div class="cardbox-base"> 
                    </div>
                 

                </div>
                <!--/ cardbox -->
            </div>
           
 
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</section>